
/*
	Project Name :: IamJennifer 2017
	Date :: Sep 5th, 2017
	Site :: http://iamjennifer.com
	Author :: Jennifer Howe
	
-------------------------------------------------------------------------------*/
/*
	STYLE GUIDE
	
	Color Glossary
	   #xxxxxx : color name
	
	Font Glossary
	   font name : where you use
	
-------------------------------------------------------------------------------*/
/*
	TABLE OF CONTENT
	
	^1 CSS Reset
    ^2 Global Layout
	^3 Individual section - Mobile
	^4 Individual section - Tablet
	^5 Individual section - Desktop
	
-------------------------------------------------------------------------------*/

/* ^1 ::::::::::::::::   CSS Reset   :::::::::::::::: */

body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol, li, dl, dt, dd, form, a, fieldset, input, th, td {  
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: none;
	vertical-align:baseline;
	font: inherit;
}

/* To secure correct behavior in older browsers */
header, section, footer, aside, nav, main, article, figure {
	display: block;
}

.clearfix:before,
.clearfix:after {
	content:"";
	display: table;
}

.clearfix:after {
	clear:both;
}

h1, h2, h3, h4, h5, h6, p { 
	margin-top: 0; 
}

fieldset, img { 
	border: 0; 
}

legend { 
	color: #000; 
}

li { 
	list-style: none; 
}

sup { 
	vertical-align: text-top; 
}

sub { 
	vertical-align: text-bottom; 
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

a:hover {
   text-decoration: underline;
}

a img {
   border: none;
}

img {
	image-rendering: -webkit-optimize-contrast;
}

/* ^2 ::::::::::::::::   Global Layout   :::::::::::::::: */

html {
    font-size: 100%; /*16px*/
}


body {
	font-family: "Trebuchet MS", san-serif;
	font-size: 0.9em;
}

#wrapper {

}

#nav {

}


/* +++++ PAGE START +++++ */
/* +++++ PAGE END +++++ */

/* regular note */

/* ^3 ::::::::::::::::   Individual section - Mobile   :::::::::::::::: */
@media only screen and (max-width: 480px){
	body {
		width: 90%;
		margin: 0 auto;
		min-width: 320px;
		max-width: 480px;
	}
}

/* ^4 ::::::::::::::::   Individual section - Tablet   :::::::::::::::: */
@media only screen and (min-width: 481px) and (max-width: 768px){
	body {
		width: 90%;
		margin: 0 auto;
		min-width: 500px;
		max-width: 768px;
	}

}

/* ^5 ::::::::::::::::   Individual section - Desktop   :::::::::::::::: */
@media only screen and (min-width: 769px) {
	body {
		width: 90%;
		margin: 0 auto;
		min-width: 1024px;
		max-width: 1280px;
	}
}